<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header')%>
    <div class="container">
        <div class="left-part">
            <main class="main">
                <%- body %>
            </main>
        </div>
        <div class="right-part">
            <% if (is_home()) {%>
                <%- partial('_partial/info') %>
            <% } %>

            <% if (is_post()) { %>
                <%- partial('_partial/toc')%>
            <% } %>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%- js('js/index.js') %>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

</html>
