<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header')%>
    <div class="container">
        <div class="left-part">
            <main class="main">
                <%- body %>
            </main>
        </div>
        <div class="right-part">
            <%- partial('_partial/sidebar') %>
            <% if (is_post()) { %>
            <%- partial('_partial/toc')%>
            <% } %>
        </div>
    </div>
</body>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</html>