<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header')%>
    <div class="container">
        <div class="left-part">
            <main class="main">
                <%- body %>
            </main>
        </div>
        <div class="right-part">
            <% if (is_home()) {%>
                <%- partial('_partial/info') %>
            <% } %>

            <% if (is_post()) { %>
                <%- partial('_partial/toc')%>
            <% } %>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%- js('js/index.js') %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!--<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>-->
<script>
    var gitment = new Gitment({
        id: '<%- page.title %>',
        owner: '<%- config.comment.owner %>',
        repo: '<%- config.comment.repo %>',
        oauth: {
            client_id: '<%- config.comment.id %>',
            client_secret: '<%- config.comment.secret %>'
        }
    });
    gitment.render('comment-container');
</script>
</html>
