<div class="paginator">
    <% if (!is_post()) { %>
        <% if (page.prev) { %>
        <a class="prev" href="<%- url_for(page.prev_link) %>"><%- __('Paginator.Prev') %></a>
        <% } %>
        <% if (page.next) { %>
        <a class="next" href="<%- url_for(page.next_link) %>"><%- __('Paginator.Next') %></a>
        <% } %>
    <% }else { %>
        <% if (page.prev) {%>
            <a class="prev" href="<%- url_for(page.prev.path)%>"><%= page.prev.title %></a>
        <% } %>
        <% if (page.next) {%>
            <a class="next" href="<%- url_for(page.next.path)%>"><%= page.next.title %></a>
        <% } %>
    <% } %>
</div>