<aside class="aside-nav">
    <div class="user-info">
        <img class="user-logo" src="<%- url_for(__('userInfo.logo'))%>">
        <div class="user-name">
            <i><%= __('userInfo.name') %></i>
        </div>
    </div>
    <nav class="sidebar-nav">
        <ul class="menu">
            <li class="menu-item" <% if (is_home()) { %> <%- "class = active" %> <% } %>>
                <i class="iconfont icon-home"></i>
                <a href="<%- url_for(theme.menu.Home) %>" class="menu-item-link"><%- __('Menu.Home') %></a>
            </li>
            <li class="menu-item" <% if (is_current('archives')) { %> <%- "class = active" %> <% } %>>
                <i class="iconfont icon-archive"></i>
                <a href="<%- url_for(theme.menu.Archives) %>" class="menu-item-link"><%- __('Menu.Archives')%></a>
            </li>
        </ul>
    </nav>
</aside>